body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  max-width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0 0;
  padding: 0;
  text-align: center;
  background: linear-gradient(#F9EDE7 79.73%, #FEFBF8 100%);

  font-family: "Inter", sans-serif;
}

header, footer {
  background-color: #FFFFFF4D;
  backdrop-filter: blur(0px);
}
